* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    align-items: center;
    justify-content: center;
    background-attachment: white;
    
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    margin: 1em;
}

ul {
    padding: 1em;
    padding-top: 0em;
}

li {
    padding-top: 0.5em;
    padding-left: 0.5em;
}

main.a4Format {
    flex-direction: row-reverse;
    height: 29.7cm;
    width: 21cm;
    padding: 5%;
    justify-content: space-between
}

.a4Format.sideBar  {
    height: 29.7cm;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.a4Format.mainColumn   {
    height: 29.7cm;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.personalInfo {
    text-align: center;
}

.listArticle {
    width: 100%;
}

.listPlaceTime {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.portraitBox {
    width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

.portraitPicture {
    width: 50%;
    border-radius: 50%;
}

@media screen and (min-width: 700px) {

    main {
        flex-direction: row-reverse;
    }

    .sideBar {
        background-color: gray;
    
    }

}