:root {
    --main: white;
    --mainText: #182022;
    --accent: #e2e2e2;
    --mainFont: 'Courier New', Courier, monospace;
    --secondaryFont: Arial, Helvetica, sans-serif;
  }

* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: var(--mainFont);  
    color: var(--mainText); 
}

h3 {
    margin-top: 0.2em;
    font-family: var(--mainFont);  
    color: var(--mainText); 
}

b {
    font-family: var(--secondaryFont);
    color: var(--mainText); 
}

p {
    font-family: var(--secondaryFont);
    color: var(--mainText); 
    max-width: 80ch;
}

i {
    font-family: var(--secondaryFont);
    color: var(--mainText); 
}

a {
    font-family: var(--secondaryFont);
    color: var(--mainText); 
}

body {
    background-color: var(--main);
    width: 100%;
    align-items: center;
    justify-content: center; 
}

header {
    background-color: rgb(56, 56, 56);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

button {
    margin: 1em;
    margin-right: 2em;
}

main {
    background-color: var(--main);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    margin: 1em;
}

ul {
    padding: 1em;
    padding-top: 0em;
}

li {
    font-family: var(--secondaryFont);
    padding-top: 0.4em;
    padding-left: 0.5em;
}

.personalInfo {
    text-align: center;
}

.listArticle {
    width: 100%;
}

.listPlaceTime {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.portraitBox {
    width: 100%;
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

.portraitPicture {
    max-width: 25em;
    width: 50%;
    border-radius: 50%;
}

.linkImg {
    height: 3em;
    width: 3em;
    margin-right: 1em;
}

.linksDiv {
    width: 12em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (min-width: 800px) {

    main {
        flex-direction: row-reverse;
    }

    .sideBar {
        background-color: var(--accent);
        width: 30%;
    }

    .mainColumn {
        width: 70%;
    }

    .skillsList {
        margin-top: 5em;
    }
}

@media screen and (min-width: 1000px) {

    main {
        flex-direction: row-reverse;
    }

    .sideBar {
        background-color: var(--accent);
        padding-left: 3em;
        width: 30%;
    }

    .mainColumn {
        padding-right: 3em;
        width: 70%;
    }
}

body.a4Format {
    background-color: white;
}

main.a4Format {
    background-color: white;
    flex-direction: row-reverse;
    height: 29.7cm;
    width: 21cm;
    justify-content: space-between
}

.a4Format.sideBar  {
    background-color: white;
    border: 0;
    border-right: 0.2em;
    border-style: solid;
    height: 29.7cm;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.a4Format.sideBar p {
    font-size: 2px;
}

.a4Format.skillsList {
    margin-top: 1em;
}

.a4Format.mainColumn {
    height: 29.7cm;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.a4Format.linksDiv {
    width: 100%;
    height: 3.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#linkedInLink {
    font-size: medium;
    margin-top: 0.3em;
}

#gitHubLink {
    font-size: medium;
    margin-top: 0.3em;
}